@font-face {
  font-family: "Mister Loopy Regular";
  src: url("./Mister Loopy Regular.ttf");
}

@font-face {
  font-family: "Pastas Black";
  src: url("./Pastas Black.otf");
}

@font-face {
  font-family: "方正喵呜体";
  src: url("./方正喵呜体.ttf");
}
